<div class="container">
  <%= @chirp.body %>
  <br>
  <% @chirp.comments.each do |comment| %>
  <div class="comment">
    <%= comment.body %>
  </div>
  <!-- might want to remove -->
  <br>
  <% end %>
  <div class="comment-new">
    <form action="/chirps/<%= @chirp.id %>/comment" method="post">
      <input type="text" name="body"></input>
      <input type="submit" value="Comment"></input>
    </form>
  </div>
</div>
