<footer class="page-footer deep-purple">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Welcome to Chirpy</h5>
      </div>
      <!-- <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div> -->
    </div>
  </div>
  <div class="footer-copyright center">
    <div class="container">
    Copyright &copy; 2016. Made by Kelsonic, Sweet, CyberPolin, and Chris.
    </div>
  </div>
</footer>
