<footer class="page-footer deep-purple darken-2">
  <div class="container">
    <div class="row">

      <!--First Column Footer-->
      <div class="col l2 offset-l3 s12 center white-text">
        <ul>
          <li>Link 1</li>
          <li>Link 1</li>
          <li>Link 1</li>
          <li>Link 1</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright deep-purple darken-3 center">
    <div class="container">
      Copyright &copy; 2016. Made by Kelsonic, Sweet, CyberPolin, and Chris.
    </div>
  </div>
</footer>
