<footer class="page-footer deep-purple darken-2 white-text">
  <div class="container">
    <div class="row">
      <% if session[:id] %>
        <!--First Column Footer-->
        <div class="col l2 offset-l3 s12 center">
          <ul>
            <li><a href="/users/" class="white-text">Chirps</a></li>
            <li><a href="/users/<%= current_user.id %>" class="white-text">Profile</a></li>
            <li><a href="/users/<%= current_user.id %>/followers" class="white-text">Followers</a></li>
            <li><a href="/users/<%= current_user.id %>/followings" class="white-text">Followings</a></li>
          </ul>
        </div>
      <% else %>
        <div class="col s12 center">
          <h3>Welcome to Chirpy</h3>
          <p>Get ready to chirp your feathers off.</p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="footer-copyright deep-purple darken-3 center">
    <div class="container">
      Copyright &copy; 2016. Made by Kelsonic, Sweet, CyberPolin, and Chris.
    </div>
  </div>
</footer>
