<form action="/login" method="POST">
  <span><%= @error %></span><br>
  <input type="text" name="email" placeholder="Email"><br>
  <input type="password" name="password" placeholder="Password"><br>
  <input type="submit" value="Login or something"></input>
</form>
