<nav>
  <div class="nav-wrapper deep-purple">
    <a href="#" class="brand-logo center">Chirpy</a>
    <ul id="nav-mobile" class="right">
      <li><a href="/followers">Followers</a></li>
      <li><a href="/followings">Followings</a></li>
      <% if logged_in? %>
        <li><a href="/logout">Logout</a></li>
      <% end %>
    </ul>
  </div>
</nav>
