<nav>
  <div class="nav-wrapper deep-purple">
    <a href="#" class="brand-logo center">Chirpy</a>
    <ul id="nav-mobile" class="right">
      <% if session[:id] %>
        <li><a href="/chirps/new">Chirp</a></li>
        <li><a href="/users/<%= current_user.id %>/followers">Followers</a></li>
        <li><a href="/users/<%= current_user.id %>/followings">Followings</a></li>
        <li><a href="/logout">Logout</a></li>
      <% end %>
    </ul>
  </div>
</nav>
