<nav>
  <div class="nav-wrapper deep-purple">
    <a href="#!" class="brand-logo">Chirpy</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars white-text" aria-hidden="true">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/followers">Followers</a></li>
      <li><a href="/followings">Followings</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="/followers">Followers</a></li>
      <li><a href="/followings">Followings</a></li>
    </ul>
  </div>
</nav>
